@charset "utf-8";
html{scroll-behavior: smooth;
	overflow-y: scroll;}/*스무스컨트롤*/
*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none; color: black;}
body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 24px;
    line-height: 34px;
    color: black;
}

/* 탑 */
#top{
    width: 1320px;
    height: 38px;
    margin: auto;
}
#top .link{
    float: right;
}
#top .link li{
    float: left;
}
#top .link a{
    display: inline-block;
    font-size: 17px;
    font-weight: 500;
    margin-left: 15px;
}
#top .link a:hover{
    color: #1f512c;
    font-weight: 700;
}
/* 탑아이콘 호버 시 아이콘 이미지 변경 */
.link .link1 img:last-child{display:none;}
.link .link1:hover img:first-child{display:none;}
.link .link1:hover img:last-child{display:inline-block;}

.link .link2 img:last-child{display:none;}
.link .link2:hover img:first-child{display:none;}
.link .link2:hover img:last-child{display:inline-block;}

.link .link3 img:last-child{display:none;}
.link .link3:hover img:first-child{display:none;}
.link .link3:hover img:last-child{display:inline-block;}

/* 헤더 */
#header{
    width: 1320px;
    height: 100px;
    margin: 0 auto;
}
.hlogo{
    float: left;
    display: block;
}
.nav{
    float: right;
}
.nav li{
    float: left;
    width: 180px;
    box-sizing: border-box;
    text-align: center;
}
.nav li a{
    display: block;
    font-size: 20px;
    font-weight: 500;
    margin-top: 8px;
    padding: 10px 0;
}
.mar1{
    margin-right: 280px;
}
.nav li a:hover{
    font-size: 22px;
    font-weight: 700;
    color: #1f512c;
}

/* 메인배너 */
#product{
    width: 100%;
    height: 500px;
    background: url(images/productbanner.jpg) no-repeat center top;
    text-align: center;
    padding: 193px 0;
    box-sizing: border-box;
}
.title h1{
    font-family: 'Josefin Sans';
    font-size: 45px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
}
.title img{
    margin-bottom: 20px;
}
.title h3{
    font-size: 25px;
    font-weight: 600;
    color: #fff;
}

/* 제품소개 */
#wrap2{
    width: 1320px;
    height: 2400px;
    margin: 100px auto;
}
.line1, .line2, .line3, .line4{
    float: left;
    width: 100%;
    height: 525px;
}
.line1, .line2, .line3{
    margin-bottom: 100px;
}
.pro{
    width: 410px;
    height: 525px;
    float: left;
    margin: 0 15px;
}
.pd{
    width: 410px;
    height: 331px;
    position: relative;
}
.best{
    position: absolute;
    right: 5%;
    top: 5%;
}
.new{
    position: absolute;
    right: 5%;
    top: 5%;
}
.pd img{
    display: block;
}
.info{
    width: 410px;
    height: 194px;
    background-color: #ebf5fa;
    text-align: center;
    padding: 75px 0;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.info_hover{
    position: absolute;
    top: 194px;
    left: 0;
    background-color: #d9effa;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 55px 0;
    opacity: 0;
    transition: all 1s;
}
.info h6{
    font-size: 20px;
    margin-bottom: 10px;
}
.info_hover p{
    font-size: 20px;
    line-height: 30px;
}
.pro:hover .info_hover{
    opacity: 1;
    top: 0;
}

/* 푸터 */
#footer{
    width: 100%;
    height: 400px;
    background: #1f512c url(images/Fline.png) no-repeat center top; 
    padding: 80px 160px 0 160px;
    box-sizing: border-box;
    position: relative;
}
.finner{
    width: 1580px;
    height: 179px;
}
.left{
    float: left;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    color: #fff;
    margin-right: 420px;
}
.flogo{
    float: left;
    text-align: center;
    margin-right: 300px
}
.flogo p a{
    font-size: 18px;
    color: #fff;
}
.flogo p a:hover{
    font-weight: 600;
    text-decoration: underline;
}
.right{
    float: right;
    text-align: right;
}
.right h5{
    font-size: 29px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 20px;
}
.right p{
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    color: #fff;
}
.copy{
    float: left;
    margin-right: 359px;
}
.copy p{
    font-size: 15px;
    color: #fff;
    font-weight: 200;
    margin-top: 100px;
}
.sns{
    float: left;
    margin-top: 110px;
    position: absolute;
    left: 50%;
    bottom: 5%;
    margin-left: -105px;
}
.sns li{
    float: left;
    width: 60px;
    height: 60px;
    padding: 5px;
    text-align: center;
}
.sns img{
    display: inline-block;
}
.sns img:hover{
    width: 60px;
    height: 60px;
}

/* 탑버튼 */
#topbutton{
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}
/* 탑버튼 호버 시 아이콘 이미지 변경 */
#topbutton img:last-child{display:none;}
#topbutton:hover img:first-child{display:none;}
#topbutton:hover img:last-child{display:inline-block;}
